.ARCTROOPER501ST-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ARCTROOPER501ST/"); }
.AAYLASECURA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/AAYLASECURA/"); }
.ADMIRALACKBAR-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ADMIRALACKBAR/"); }
.ADMIRALPIETT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ADMIRALPIETT/"); }
.AHSOKATANO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/AHSOKATANO/"); }
.FULCRUMAHSOKA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/FULCRUMAHSOKA/"); }
.JEDISTARFIGHTERAHSOKATANO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JEDISTARFIGHTERAHSOKATANO/"); }
.AMILYNHOLDO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/AMILYNHOLDO/"); }
.JEDISTARFIGHTERANAKIN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JEDISTARFIGHTERANAKIN/"); }
.ASAJVENTRESS-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ASAJVENTRESS/"); }
.AURRA_SING-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/AURRA_SING/"); }
.SITHBOMBER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SITHBOMBER/"); }
.B1BATTLEDROIDV2-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/B1BATTLEDROIDV2/"); }
.B2SUPERBATTLEDROID-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/B2SUPERBATTLEDROID/"); }
.BB8-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BB8/"); }
.YWINGCLONEWARS-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/YWINGCLONEWARS/"); }
.BARRISSOFFEE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BARRISSOFFEE/"); }
.BASTILASHAN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BASTILASHAN/"); }
.BASTILASHANDARK-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BASTILASHANDARK/"); }
.BAZEMALBUS-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BAZEMALBUS/"); }
.BIGGSDARKLIGHTER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BIGGSDARKLIGHTER/"); }
.XWINGRED3-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/XWINGRED3/"); }
.BISTAN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BISTAN/"); }
.UWINGSCARIF-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/UWINGSCARIF/"); }
.BOKATAN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BOKATAN/"); }
.BOBAFETT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BOBAFETT/"); }
.BODHIROOK-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BODHIROOK/"); }
.BOSSK-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BOSSK/"); }
.C3POLEGENDARY-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/C3POLEGENDARY/"); }
.CC2224-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CC2224/"); }
.CT210408-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CT210408/"); }
.CT5555-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CT5555/"); }
.CT7567-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CT7567/"); }
.CADBANE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CADBANE/"); }
.CANDEROUSORDO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CANDEROUSORDO/"); }
.HOTHHAN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/HOTHHAN/"); }
.PHASMA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/PHASMA/"); }
.CARADUNE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CARADUNE/"); }
.CARTHONASI-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CARTHONASI/"); }
.CASSIANANDOR-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CASSIANANDOR/"); }
.UWINGROGUEONE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/UWINGROGUEONE/"); }
.CHEWBACCALEGENDARY-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CHEWBACCALEGENDARY/"); }
.CHIEFCHIRPA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CHIEFCHIRPA/"); }
.CHIEFNEBIT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CHIEFNEBIT/"); }
.CAPITALCHIMAERA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CAPITALCHIMAERA/"); }
.CHIRRUTIMWE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CHIRRUTIMWE/"); }
.CHOPPERS3-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CHOPPERS3/"); }
.CLONESERGEANTPHASEI-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CLONESERGEANTPHASEI/"); }
.ARC170CLONESERGEANT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ARC170CLONESERGEANT/"); }
.CLONEWARSCHEWBACCA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CLONEWARSCHEWBACCA/"); }
.COLONELSTARCK-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/COLONELSTARCK/"); }
.COMMANDERLUKESKYWALKER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/COMMANDERLUKESKYWALKER/"); }
.CORUSCANTUNDERWORLDPOLICE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CORUSCANTUNDERWORLDPOLICE/"); }
.COUNTDOOKU-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/COUNTDOOKU/"); }
.DARKTROOPER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DARKTROOPER/"); }
.DARTHMALAK-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DARTHMALAK/"); }
.MAUL-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/MAUL/"); }
.DARTHNIHILUS-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DARTHNIHILUS/"); }
.DARTHREVAN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DARTHREVAN/"); }
.DARTHSIDIOUS-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DARTHSIDIOUS/"); }
.DARTHSION-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DARTHSION/"); }
.DARTHTRAYA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DARTHTRAYA/"); }
.VADER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/VADER/"); }
.DATHCHA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DATHCHA/"); }
.DEATHTROOPER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DEATHTROOPER/"); }
.DENGAR-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DENGAR/"); }
.DIRECTORKRENNIC-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DIRECTORKRENNIC/"); }
.DROIDEKA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DROIDEKA/"); }
.EBONHAWK-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/EBONHAWK/"); }
.BADBATCHECHO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BADBATCHECHO/"); }
.EETHKOTH-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/EETHKOTH/"); }
.EMBO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/EMBO/"); }
.EMPERORPALPATINE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/EMPERORPALPATINE/"); }
.EMPERORSSHUTTLE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/EMPERORSSHUTTLE/"); }
.CAPITALJEDICRUISER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CAPITALJEDICRUISER/"); }
.ENFYSNEST-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ENFYSNEST/"); }
.EWOKELDER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/EWOKELDER/"); }
.EWOKSCOUT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/EWOKSCOUT/"); }
.CAPITALSTARDESTROYER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CAPITALSTARDESTROYER/"); }
.EZRABRIDGERS3-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/EZRABRIDGERS3/"); }
.CAPITALFINALIZER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CAPITALFINALIZER/"); }
.FINN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/FINN/"); }
.FIRSTORDEREXECUTIONER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/FIRSTORDEREXECUTIONER/"); }
.FIRSTORDEROFFICERMALE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/FIRSTORDEROFFICERMALE/"); }
.TIEFIGHTERFOSF-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/TIEFIGHTERFOSF/"); }
.FIRSTORDERSPECIALFORCESPILOT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/FIRSTORDERSPECIALFORCESPILOT/"); }
.FIRSTORDERTROOPER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/FIRSTORDERTROOPER/"); }
.TIEFIGHTERFIRSTORDER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/TIEFIGHTERFIRSTORDER/"); }
.FIRSTORDERTIEPILOT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/FIRSTORDERTIEPILOT/"); }
.GAMORREANGUARD-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GAMORREANGUARD/"); }
.GARSAXON-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GARSAXON/"); }
.ZEBS3-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ZEBS3/"); }
.GAUNTLETSTARFIGHTER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GAUNTLETSTARFIGHTER/"); }
.GRIEVOUS-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GRIEVOUS/"); }
.GENERALHUX-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GENERALHUX/"); }
.GENERALKENOBI-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GENERALKENOBI/"); }
.GENERALSKYWALKER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GENERALSKYWALKER/"); }
.VEERS-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/VEERS/"); }
.GEONOSIANBROODALPHA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GEONOSIANBROODALPHA/"); }
.GEONOSIANSOLDIER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GEONOSIANSOLDIER/"); }
.GEONOSIANSTARFIGHTER2-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GEONOSIANSTARFIGHTER2/"); }
.GEONOSIANSPY-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GEONOSIANSPY/"); }
.GEONOSIANSTARFIGHTER3-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GEONOSIANSTARFIGHTER3/"); }
.GHOST-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GHOST/"); }
.GRANDADMIRALTHRAWN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GRANDADMIRALTHRAWN/"); }
.GRANDMASTERYODA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GRANDMASTERYODA/"); }
.GRANDMOFFTARKIN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GRANDMOFFTARKIN/"); }
.GREEDO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GREEDO/"); }
.GREEFKARGA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GREEFKARGA/"); }
.HK47-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/HK47/"); }
.HANSOLO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/HANSOLO/"); }
.MILLENNIUMFALCON-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/MILLENNIUMFALCON/"); }
.HERASYNDULLAS3-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/HERASYNDULLAS3/"); }
.HERMITYODA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/HERMITYODA/"); }
.CAPITALMONCALAMARICRUISER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CAPITALMONCALAMARICRUISER/"); }
.HOTHREBELSCOUT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/HOTHREBELSCOUT/"); }
.HOTHREBELSOLDIER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/HOTHREBELSOLDIER/"); }
.HOUNDSTOOTH-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/HOUNDSTOOTH/"); }
.BADBATCHHUNTER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BADBATCHHUNTER/"); }
.HYENABOMBER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/HYENABOMBER/"); }
.MAGNAGUARD-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/MAGNAGUARD/"); }
.IG11-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/IG11/"); }
.IG2000-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/IG2000/"); }
.IG86SENTINELDROID-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/IG86SENTINELDROID/"); }
.IG88-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/IG88/"); }
.IMAGUNDI-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/IMAGUNDI/"); }
.IMPERIALPROBEDROID-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/IMPERIALPROBEDROID/"); }
.IMPERIALSUPERCOMMANDO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/IMPERIALSUPERCOMMANDO/"); }
.TIEBOMBERIMPERIAL-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/TIEBOMBERIMPERIAL/"); }
.TIEFIGHTERIMPERIAL-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/TIEFIGHTERIMPERIAL/"); }
.JANGOFETT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JANGOFETT/"); }
.JAWA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JAWA/"); }
.JAWAENGINEER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JAWAENGINEER/"); }
.JAWASCAVENGER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JAWASCAVENGER/"); }
.JEDIKNIGHTCONSULAR-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JEDIKNIGHTCONSULAR/"); }
.JEDISTARFIGHTERCONSULAR-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JEDISTARFIGHTERCONSULAR/"); }
.ANAKINKNIGHT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ANAKINKNIGHT/"); }
.JEDIKNIGHTGUARDIAN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JEDIKNIGHTGUARDIAN/"); }
.JEDIKNIGHTLUKE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JEDIKNIGHTLUKE/"); }
.JEDIKNIGHTREVAN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JEDIKNIGHTREVAN/"); }
.GRANDMASTERLUKE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GRANDMASTERLUKE/"); }
.JOLEEBINDO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JOLEEBINDO/"); }
.JUHANI-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JUHANI/"); }
.JYNERSO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/JYNERSO/"); }
.K2SO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/K2SO/"); }
.KANANJARRUSS3-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/KANANJARRUSS3/"); }
.KIADIMUNDI-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/KIADIMUNDI/"); }
.KITFISTO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/KITFISTO/"); }
.KUIIL-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/KUIIL/"); }
.KYLOREN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/KYLOREN/"); }
.KYLORENUNMASKED-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/KYLORENUNMASKED/"); }
.COMMANDSHUTTLE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/COMMANDSHUTTLE/"); }
.L3_37-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/L3_37/"); }
.ADMINISTRATORLANDO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ADMINISTRATORLANDO/"); }
.MILLENNIUMFALCONPRISTINE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/MILLENNIUMFALCONPRISTINE/"); }
.LOBOT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/LOBOT/"); }
.LOGRAY-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/LOGRAY/"); }
.LUKESKYWALKER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/LUKESKYWALKER/"); }
.LUMINARAUNDULI-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/LUMINARAUNDULI/"); }
.MACEWINDU-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/MACEWINDU/"); }
.MAGMATROOPER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/MAGMATROOPER/"); }
.CAPITALMALEVOLENCE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CAPITALMALEVOLENCE/"); }
.MISSIONVAO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/MISSIONVAO/"); }
.HUMANTHUG-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/HUMANTHUG/"); }
.MOFFGIDEONS1-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/MOFFGIDEONS1/"); }
.MONMOTHMA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/MONMOTHMA/"); }
.MOTHERTALZIN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/MOTHERTALZIN/"); }
.CAPITALNEGOTIATOR-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CAPITALNEGOTIATOR/"); }
.NIGHTSISTERACOLYTE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/NIGHTSISTERACOLYTE/"); }
.NIGHTSISTERINITIATE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/NIGHTSISTERINITIATE/"); }
.NIGHTSISTERSPIRIT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/NIGHTSISTERSPIRIT/"); }
.NIGHTSISTERZOMBIE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/NIGHTSISTERZOMBIE/"); }
.NUTEGUNRAY-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/NUTEGUNRAY/"); }
.OLDBENKENOBI-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/OLDBENKENOBI/"); }
.DAKA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/DAKA/"); }
.PADMEAMIDALA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/PADMEAMIDALA/"); }
.PAO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/PAO/"); }
.PAPLOO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/PAPLOO/"); }
.PHANTOM2-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/PHANTOM2/"); }
.PLOKOON-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/PLOKOON/"); }
.BLADEOFDORIN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BLADEOFDORIN/"); }
.POE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/POE/"); }
.XWINGBLACKONE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/XWINGBLACKONE/"); }
.POGGLETHELESSER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/POGGLETHELESSER/"); }
.PRINCESSLEIA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/PRINCESSLEIA/"); }
.QIRA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/QIRA/"); }
.QUIGONJINN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/QUIGONJINN/"); }
.R2D2_LEGENDARY-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/R2D2_LEGENDARY/"); }
.CAPITALRADDUS-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/CAPITALRADDUS/"); }
.RANGETROOPER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/RANGETROOPER/"); }
.RAZORCREST-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/RAZORCREST/"); }
.HOTHLEIA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/HOTHLEIA/"); }
.YWINGREBEL-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/YWINGREBEL/"); }
.EPIXFINN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/EPIXFINN/"); }
.EPIXPOE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/EPIXPOE/"); }
.RESISTANCEPILOT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/RESISTANCEPILOT/"); }
.RESISTANCETROOPER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/RESISTANCETROOPER/"); }
.XWINGRESISTANCE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/XWINGRESISTANCE/"); }
.ARC170REX-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ARC170REX/"); }
.GLREY-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GLREY/"); }
.REYJEDITRAINING-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/REYJEDITRAINING/"); }
.REY-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/REY/"); }
.MILLENNIUMFALCONEP7-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/MILLENNIUMFALCONEP7/"); }
.ROSETICO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ROSETICO/"); }
.ROYALGUARD-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ROYALGUARD/"); }
.SABINEWRENS3-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SABINEWRENS3/"); }
.SAVAGEOPRESS-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SAVAGEOPRESS/"); }
.SCARIFREBEL-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SCARIFREBEL/"); }
.SITHINFILTRATOR-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SITHINFILTRATOR/"); }
.SHAAKTI-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SHAAKTI/"); }
.SHORETROOPER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SHORETROOPER/"); }
.SITHASSASSIN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SITHASSASSIN/"); }
.SITHTROOPER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SITHTROOPER/"); }
.SITHPALPATINE-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SITHPALPATINE/"); }
.SITHFIGHTER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SITHFIGHTER/"); }
.SITHMARAUDER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SITHMARAUDER/"); }
.FOSITHTROOPER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/FOSITHTROOPER/"); }
.SLAVE1-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SLAVE1/"); }
.SNOWTROOPER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SNOWTROOPER/"); }
.STORMTROOPER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/STORMTROOPER/"); }
.STORMTROOPERHAN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/STORMTROOPERHAN/"); }
.SUNFAC-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SUNFAC/"); }
.GEONOSIANSTARFIGHTER1-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/GEONOSIANSTARFIGHTER1/"); }
.SUPREMELEADERKYLOREN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SUPREMELEADERKYLOREN/"); }
.T3_M4-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/T3_M4/"); }
.TIEADVANCED-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/TIEADVANCED/"); }
.TIEFIGHTERPILOT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/TIEFIGHTERPILOT/"); }
.TIEREAPER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/TIEREAPER/"); }
.TIESILENCER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/TIESILENCER/"); }
.TALIA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/TALIA/"); }
.BADBATCHTECH-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BADBATCHTECH/"); }
.TEEBO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/TEEBO/"); }
.ARMORER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ARMORER/"); }
.THEMANDALORIAN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/THEMANDALORIAN/"); }
.THEMANDALORIANBESKARARMOR-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/THEMANDALORIANBESKARARMOR/"); }
.C3POCHEWBACCA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/C3POCHEWBACCA/"); }
.TUSKENRAIDER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/TUSKENRAIDER/"); }
.TUSKENSHAMAN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/TUSKENSHAMAN/"); }
.URORRURRR-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/URORRURRR/"); }
.UGNAUGHT-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/UGNAUGHT/"); }
.UMBARANSTARFIGHTER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/UMBARANSTARFIGHTER/"); }
.YOUNGCHEWBACCA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/YOUNGCHEWBACCA/"); }
.SMUGGLERCHEWBACCA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SMUGGLERCHEWBACCA/"); }
.SMUGGLERHAN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/SMUGGLERHAN/"); }
.VISASMARR-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/VISASMARR/"); }
.VULTUREDROID-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/VULTUREDROID/"); }
.WAMPA-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/WAMPA/"); }
.WATTAMBOR-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/WATTAMBOR/"); }
.WEDGEANTILLES-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/WEDGEANTILLES/"); }
.XWINGRED2-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/XWINGRED2/"); }
.WICKET-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/WICKET/"); }
.BADBATCHWRECKER-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/BADBATCHWRECKER/"); }
.XANADUBLOOD-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/XANADUBLOOD/"); }
.YOUNGHAN-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/YOUNGHAN/"); }
.YOUNGLANDO-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/YOUNGLANDO/"); }
.ZAALBAR-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ZAALBAR/"); }
.ZAMWESELL-i { background-size: cover; background-image:url("https://swgoh.gg/game-asset/u/ZAMWESELL/"); }
